#login-overlay {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: forestgreen;
}

#productDetail {
    border: 3px solid green;
}

.product-label, .button#backToProducts {
    cursor: pointer;
    margin: 2px;
}

.button {
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
    margin: 1px;
}